<h2 class="text-xl py-4 font-bold">Users</h2>

<%= link_to "New User", admin_new_path, class: "text-green-600 hover:text-green-800" %>

<ul class="pl-4 list-disc">
  <% @users.each do |user| %>
    <li>
      <p><strong><%= user.name %></strong> <br />
      Email: <%= user.email %>, Phone: <%= user.phone %>. <br />
      Checked In? <%= user.checked_in %></p>
      <%= button_to "Check in/Out", toggle_checked_in_path(user), method: :post %>
      <%= link_to "Edit", admin_edit_path(user), class: "text-green-600 hover:text-green-800 pr-1" %>
      <%= link_to "Destroy", admin_destroy_path(user), class: "text-green-600 hover:text-green-800", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>
  <% end %>
</ul>