<h2 class="text-xl py-4 font-bold">Reservations</h2>

<table class="border">
  <%# Dates %>
  <tr>
    <%# TODO %>
  </tr>
  <%# Sites and Reservations %>
  <% @sites.each do |site| %>
    <tr class="border-b">
      <th class="border p-2"><%= site.name %> <%= site.number %></th>
      <% site.reservations.each do |reservation| %>
        <td class="p-2"><%= reservation.user.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<ul class="pt-4">
  <% @sites.each do |site| %>
    <li>
      <p class="text-bold"><%= site.name %> <%= site.number %> - 
        <%= link_to "New", new_site_reservation_path(site.id), class: "text-green-600 hover:text-green-800" %></p>
      <ul class="pl-4 list-disc">
        <% site.reservations.each do |reservation| %>
          <li>
            <p><%= reservation.user.name %>, <%= reservation.start %> - <%= reservation.end %>.</p>
            <%= link_to "Edit", edit_site_reservation_path(reservation.site, reservation), class: "text-green-600 hover:text-green-800 pr-1" %>
            <%= link_to "Destroy", site_reservation_path(id: reservation.id, site_id: reservation.site), class: "text-green-600 hover:text-green-800", data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
