<h1>Admin</h1>

<h2>Sites</h2>

<ul>
  <% @sites.each do |site| %>
    <li>
      <p><strong><%= site.name %> <%= site.number %></strong> - Has <%= site.beds %> bed(s), $<%= site.price %>.</p>
      <%= link_to "Edit", edit_site_path(site) %>
      <%= link_to "Destroy", site_path(site), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
      <%= link_to "New Reservation", new_site_reservation_path(site.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "New", new_site_path %>

<h2>Reservations</h2>

<ul>
  <% @reservations.each do |reservation| %>
    <li>
      <p><%= reservation.site.name %> <%= reservation.site.number %> for
         <%= reservation.user.name %> from <%= reservation.start %> to <%= reservation.end %>.</p>
      <%= link_to "Edit", edit_site_reservation_path(reservation.site, reservation) %>
      <%= link_to "Destroy", site_reservation_path(id: reservation.id, site_id: reservation.site), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>
  <% end %>
</ul>

<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li>
      <p><strong><%= user.name %></strong> <br />
      Email: <%= user.email %>, Phone: <%= user.phone %>. <br />
      Checked In? <%= user.checked_in %></p>
      <%= button_to "Check in/Out", toggle_checked_in_path(user), method: :post %>
      <%= link_to "Edit", admin_edit_path(user) %>
      <%= link_to "Destroy", admin_destroy_path(user), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>
  <% end %>
</ul>

<%= link_to "New", admin_new_path %>