<header>
  <%# Sign in / Sign Out %>
  <div id="user-login">
    <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <% else %>
      <%= button_to "Sign in", new_user_session_path, method: :get %> 
    <% end %>
  </div>

  <h1>Campground</h1>
  <nav>
    <%= link_to "Home", "/" %>
    <%= link_to "Sites", "/sites" %>
    <%= link_to "Rules and Policies", "/rules" %>
    <%= link_to "Contact", "/contact" %>
    <% if current_user && current_user.is_admin? %>
      <%= link_to "Admin", "/admin" %>
    <% end %>
  </nav>
  <hr>
</header>