<%= form_with model: [ @site, @reservation ] do |form| %>
  <div>
    <%= form.label "Check in:" %> <br>
    <%= form.date_field :start %>
    <% @reservation.errors.full_messages_for(:start).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label "Check out:" %> <br>
    <%= form.date_field :end %>
    <% @reservation.errors.full_messages_for(:end).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>