<h1 class="text-3xl pb-4 font-bold"><%= @site.name %> <%= @site.number %></h1>

<ul>
  <li>$<%= @site.price %> per night.</li>
  <li><%= @site.beds %> Bed(s).</li>
</ul>

<%= link_to "Book now", new_site_reservation_path(@site.id) %>