<h1 class="text-3xl pb-4 font-bold">Sites</h1>

<ul class="pl-4 list-disc">
  <% @sites.each do |site| %>
    <li class="pb-2">
      <p><strong><%= site.name %> <%= site.number %></strong> - Has <%= site.beds %> bed(s).</p>
      $<%= site.price %> - <%= link_to "Make Reservation", new_site_reservation_path(site.id),
                                       class: "text-green-600 hover:text-green-800" %>
    </li>
  <% end %>
</ul>