<h1>Sites</h1>

<ul>
  <% @sites.each do |site| %>
    <li>
      <p><strong><%= site.name %> <%= site.number %></strong> - Has <%= site.beds %> bed(s).</p>
      $<%= site.price %> - <%= link_to "Make Reservation", new_site_reservation_path(site.id) %>
    </li>
  <% end %>
</ul>