<!DOCTYPE html>
<html>
  <head>
    <title>Campground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "pages/header" %>
    <%# TODO: Make absolute %>
    <div id="flash-messages">
      <p class="notice text-green-600"><%= notice %></p>
      <p class="alert text-red-600"><%= alert %></p>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
